{% block body %}

    <section class="veg_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Unsere Produkte
                </h2>
            </div>
            <div class="row">
                {% for product in products %}

                    <div class="col-md-6 col-lg-4">
                        <div class="box">
                            <div class="detail-box">
                                <a href="{{ path('single_product', {id: product.id}) }}">
                                    <h2>{{ product.name }}</h2>
                                </a>
                                <a href="{{ path('single_product', {id: product.id}) }}">
                                    <h2>{{ product.mwst }}</h2>
                                </a>

                                <div>
                                    Artikelnummer: {{ product.articleNr }}
                                </div>
                                {% if product.lagerbestand is not null %}
                                    {% if product.lagerbestand > 0 %}
                                        <div class="btn-success">Derzeit {{ product.lagerbestand }} auf Lager</div>
                                    {% else %}
                                        <div class="btn-danger">Artikel derzeit ausverkauft!</div>
                                    {% endif %}
                                {% endif %}

                                <div class="price_box">
                                    <h6 class="price_heading">
                                        <span>€</span> {{ product.EZPreisNetto }}
                                    </h6>
                                </div>

                                <a class="btn btn-success" href="{{ path("cart_add", {id: product.id}) }}">Zum Warenkorb hinzufügen</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

