{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="contact-block mb-4 mb-lg-0">
                    <h5>{{ kunde }} <a class="fa fa-ellipsis-v" style='font-size:18px' href="/rechnung/kunden/{{ rechnungs.id }}"></a></h5>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>Rechnungsnummer:</b>
                <input type="text" name="Rechnungsnummer" value="{{ rechnung }}">
            </div>
            <div class="col-md-6 text-center">
                <input type="checkbox" id="skonto" name="skonto">
                <label for="skonto">Skonto</label>
            </div>
        </div>
    </div>
    </div>

    <section class="contact-form-wrap section">
        <div class="container" contenteditable="">
            <p>Klicke den Button um Leistung hinzuzufügen.</p>

            <table class="table table-bordered" id="myTable" border="1">
                <thead>
                <tr contenteditable="false">
                    <th scope="col">#</th>
                    <th scope="col">Leistung</th>
                    <th scope="col">Menge</th>
                    <th scope="col">EZ-Preis</th>
                    <th scope="col">Einheitspreis</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td contenteditable="false" scope="row">1</td>
                    <td contenteditable="false">{{ rechnungsposition.name }} <a class="fa fa-ellipsis-v" style='font-size:18px' href="/rechnung/produkt/{{ kundenId }}/{{ rechnungs.id }}"></a></td>
                    <td class="menge">{{ menge }}</td>
                    <td contenteditable="false">{{ rechnungsposition.EZPreisNetto }}</td>
                    <td contenteditable="false"  >{{ rechnungsposition.EZPreisNetto * menge }}</td>
                </tr>
                <tr contenteditable="false">
                    <td colspan="4">Aktueller Netto Preis</td>
                    <td>610</td>
                </tr>
                </tbody>
            </table>

            <button onclick="myCreateFunction()">+</button>
            <button onclick="myDeleteFunction()">-</button>


            <script>

                window.addEventListener("load", function(){
                    let menge_felder = document.getElementsByClassName("menge");
                    for (let i = 0; i < menge_felder.length; i++) {
                        //alert(menge_felder[i].innerText);
                        int menge = console.log(menge_felder[i].innerText);
                        if (menge_felder[i].innerText !== "menage") {
                            console.log(menge);
                        }
                    }

                });

                function testfunc(){
                    alert();
                }
                function myCreateFunction() {
                    var table = document.getElementById("myTable");
                    var rowCount = table.rows.length;
                    var row = table.insertRow(rowCount - 1);
                    var cell1 = row.insertCell(0);
                    cell1.setAttribute('contenteditable', false)
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    cell4.setAttribute('contenteditable', false)
                    var cell5 = row.insertCell(4);
                    cell5.setAttribute('contenteditable', false)
                    cell1.innerHTML = rowCount - 1;
                    cell2.innerHTML = "Leistung";
                    cell3.innerHTML = "Menge";
                    cell4.innerHTML = "EZ-Preis";
                    cell5.innerHTML = "Einheitspreis";
                }

                function myDeleteFunction() {
                    var table = document.getElementById("myTable");
                    var rowCount = table.rows.length;
                    document.getElementById("myTable").deleteRow(rowCount - 2);
                }
            </script>
        </div>
        </div>

        <div class="col-md-9 text-right">
            <a href="#" class="btn btn-white btn-animate">Rechnung erzeugen</a>
        </div>
    </section>


    {% endblock %}

    {% block javascripts %}
        <script src="plugins/jquery/jquery.js"></script>
        <script src="plugins/bootstrap/bootstrap.min.js"></script>
        <script src="plugins/slick-carousel/slick/slick.min.js"></script>
        <script src="plugins/shuffle/shuffle.min.js"></script>

        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
        <script src="plugins/google-map/gmap.js"></script>

        <script src="js/script.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    {% endblock %}
