{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
    <section class="contact-form-wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="text-md mb-2">Produkt</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p class="mb-5"></p>
                    </div>
                </div>
            </div>
            <b>Produktnummer: {{ product.id }}</b>
            <p></p>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Name" value="{{ product.name }}" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="price" id="price" type="text" class="form-control" placeholder="EZ-NettoPreis" value="{{ product.ezpreisnetto }}" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="lager" id="lager" type="text" class="form-control" placeholder="Lagerbestand" value="{{ product.lagerbestand }}" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="mwst" id="mwst" type="text" class="form-control" placeholder="Mwst." value="{{ product.mwst }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="info" id="info" class="form-control" rows="8" placeholder="Info" >{{ product.info }}</textarea>
                    </div>

                    <div>
                        <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Produkt erstellen"></input>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
