{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
    <section class="contact-form-wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="text-md mb-2">Firma</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p class="mb-5"></p>
                    </div>
                </div>
            </div>

            <p></p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="name" id="name" type="text" class="form-control" placeholder="Name"
                               value="{{ firma.name }}" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="email" id="email" type="text" class="form-control" placeholder="Email"
                               value="{{ firma.email }}" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="tel" id="tel" type="text" class="form-control" placeholder="Telefonnummer"
                               value="{{ firma.tel }}" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="fntz" id="fntz" type="text" class="form-control" placeholder="FNTZ"
                               value="{{ firma.fntz }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="adresse" id="adresse" type="text" class="form-control" placeholder="adresse"
                               value="{{ firma.adresse }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="stadt" id="stadt" type="text" class="form-control" placeholder="Stadt"
                               value="{{ firma.stadt }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="plz" id="plz" type="text" class="form-control" placeholder="plz"
                               value="{{ firma.plz }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="uid" id="uid" type="text" class="form-control" placeholder="uid "
                               value="{{ firma.uid }}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input name="fn" id="fn" type="text" class="form-control" placeholder="FN"
                               value="{{ firma.fn }}">
                    </div>
                </div>
            </div>
            <div>
                <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Firma ändern"></input>
            </div>
        </div>

    </section>
{% endblock %}
